<div class="flex justify-between h-14">
  @for (btn of buttons; track $index) {
  <button
    class="ce-button-outlined flex items-center justify-center aspect-square"
    pButton
    (click)="onLoginProvider(btn)"
    type="button"
  >
    @switch (btn) { @case ('google') {
    <svg ce-google-icon class="icon w-6 h-6"></svg>
    } @case ('apple') {
    <svg ce-apple-icon class="icon w-6 h-6"></svg>
    } @case ('facebook') {
    <svg ce-facebook-icon class="icon w-6 h-6"></svg>
    } @case ('github') {
    <svg ce-github-icon class="icon w-6 h-6"></svg>
    } }
  </button>
  }
</div>
